language: python

before_script:
  - pip install gen3utils --upgrade

script:
  # validate manifest.json and etlMapping.yaml:
  - |
    # for push builds, TRAVIS_BRANCH is the current branch name; for PR
    # builds, it's the name of the branch targeted by the PR.
    # We need the latter, which we can't get for push builds, so the tests
    # only run properly on PRs.
    changed_files=$(git diff --name-only HEAD..$TRAVIS_BRANCH)
    envs=()
    for file in $changed_files; do
      envs+=($(echo "$file" | cut -d "/" -f1))
    done

    # remove duplicates
    envs=($(printf "%s\n" "${envs[@]}" | sort -u)); echo  "${uniq[@]}"
    echo "Updated: ${envs[@]}"

    for dir in "${envs[@]}"; do
      man=$dir/manifest.json; etl=$dir/etlMapping.yaml

      # validate manifest.json
      if [ -f $man ]; then
        echo "    Validating $dir"
        gen3utils validate-manifest $man || exit 1
      fi

      # validate ETL mapping
      if [ -f $man ] && [ -f $etl ]; then
        gen3utils validate-etl-mapping $etl $man || exit 1
      fi
    done

  # comment on PRs with relevant deployment changes:
  - if [[ $TRAVIS_PULL_REQUEST != false ]]; then gen3utils post-deployment-changes uc-cdis/gitops-qa $TRAVIS_PULL_REQUEST; fi

env:
  global:
  - secure: V6ijrsnoAixtzJxS8w4+DvH9WOo+kQEk6onGIi4oEJO6cq4m75dOQ0eJIdx3XaihLqbl933/VrpeHy+MaVo9ZldGyZwrJ9v2AieBEOCDQKxOl11NucIi3CptMfN2QlAW+iP6F9rr90/OjwQBPTO+YXnnDNPu80QLBj9zGDEPt01qfIw5C/oF2U4axgAjbiMr0LjG3k29S7ALf5mGGE3f/ANcpKalkS41LHHajrKejiyR4nwwocGLlpwKIltrxF0C2JwxAUt8tPWvAsi2wrr8Zyfr+yC7kRSYeLg6zUFumumh3yRm/pGtEIMMmhYcl4Lk2ZJnMaBWNMXueWdUDAd1y/4N482DH73ISDUS/2AefXU9iexYK1n3tvEbTrrJc1Q5TTEu20vbuIIDzAxmS3Y9NjLAzEjXaTZL0vdEvc/ibDoOtLZy96Nuj3jU3BJY/vVsGYpdnFvHM4LA1UUj6SUJDnoKXuQTqxvvrLQ9UI9qFjkwh9F/N3WjdS8S95WhP/8Ym4TGlt/GzMhZGyaxbVMRTqiGIIaM5bprKQL4o9q2v/+JfJakAD+LJ23JKuNVjoybfhSIbLDO9YAtW12g6F/6HXC0GEm/opcv2i3d6Qo9m23+T2w9pt71boGJtgl0/4pMTmdjFw6CQ7TjEP5YeYUWLFWOPMU38y1lcouvfuRTT7U=
  # GH_TOKEN=PlanxCyborg token (for gen3utils/gen3git private repos access):
  - secure: gXI47MM0pfnvC992tLwWlK9bDSaonHYZ9DLuQxmtUbdxkUGMzZ88GQtjShAT5FfGGEXt3EE5/vyhHcJUIssCs2Csx2HTLmCBKMbwnr/5K96f/5dX2Vq/Y8QhDSBhlVDzNJAer/eHid+ekDrdG20HdbDEOB9wNINSfEu+/sAXG7l8s73Lv0XRZyY8/c5tERdn9G0DhWM6GkAH3XUhHXcdWPr5HIflFq2pyxqECcvSh/5Xn8a3o735pnu7F8GWaq/lnDRi93kdhG4R2xjEwjFg0ogsyEvu2TpOgNz2YeqlSgnaKjyNtu62bGewkiv/QLmKo33MDQvU5KVh9o7QwrwrMKjQb5YJfDF3eIrFTzHEMQ2t/JbXml0bo/2RYmV1eNqEXPUDVXcFErqCIInHSu2KDdrZrqB1JMPuGz1b8AQOJx288LkXGR1NQrjY4v+WCZ1FL+gAoIyGrEI2BhfVeo4cWcosIuT70CJVuO4TRTRCBa1mMY0C+P1GX3vDb37+RZpp14P6cEhn2xGyn9iKGhS6bBCXLvTHZrxKwM2ZDhNIiEKn89GURwcMGYmym+sYI450HICszt1pardDWidto8o2b5WD5MQf6vLSwUmN23Jt12/9Ue+wJ8gi2rQk7S6DYAHMq3S7jaM+LdPYtFc+bWjqDXhoulqN+wbDtL0CrYtyUkY=
