language: python

script:
  - pip install gen3utils
  
  # validate all the manifest.json files:
  - gen3utils validate-manifest */manifest.json
  
  # validate ETL mapping files
  - |
    for dir in *; do
      man=$dir/manifest.json; etl=$dir/etlMapping.yaml
      if [ -f $man ] && [ -f $etl ]; then
        echo "ETL mapping validation for $dir" && gen3utils validate-etl-mapping $etl $man
      fi
    done
