qa-acct.planx-pla.net @uc-cdis/planx-qa
qa-bloodpac.planx-pla.net @uc-cdis/planx-qa
qa-canine.planx-pla.net @uc-cdis/planx-qa
qa.planx-pla.net @uc-cdis/planx-qa
qaplanetv2.planx-pla.net @uc-cdis/planx-qa

qa-mickey.planx-pla.net @nmetokishlubsky @haraprasadj
qa-anvil.planx-pla.net @atharvar28
qa-dcp.planx-pla.net @uc-cdis/planx-qa

qa-covid19.planx-pla.net @atharvar28 @beamcb
qa-ibd.planx-pla.net @atharvar28 @beamcb
qa-jcoin.planx-pla.net @atharvar28 @beamcb
qa-kidsfirst.planx-pla.net @CTDS-Fortel @atharvar28
qa-niaid.planx-pla.net @frankliuao @atharvar28

qa-heal.planx-pla.net @briennal @haraprasadj
qa-brh.planx-pla.net @briennal @haraprasadj

qa-midrc.planx-pla.net @frankliuao @cgmeyer

jenkins-blood.planx-pla.net @uc-cdis/planx-qa
jenkins-brain.planx-pla.net @uc-cdis/planx-qa
jenkins-dcp.planx-pla.net @uc-cdis/planx-qa
jenkins-genomel.planx-pla.net @uc-cdis/planx-qa
jenkins-niaid.planx-pla.net @uc-cdis/planx-qa
jenkins-new.planx-pla.net @uc-cdis/planx-qa
jenkins-perf.planx-pla.net @uc-cdis/planx-qa
